.shadow {
	background-color:rgba(255,255,255,0.6);
	margin-top:4%;
	height:auto;
	}

#defaultSelected {
	background-color:#19535f !important;}

#banner {
	background:url(banner4.jpg) no-repeat top center fixed;
	background-size:cover;
	height:500px;
	width:100%;}

#user_reviews {
  margin-left:3%;}

#profile {
  background-color:white;
  height:110px;
  max-width:300px;
  border:1px solid black;
}

#ratings {
  background-color:white;
  height:500px;
  float:left;
  text-align: left;
  margin-left: 3%;
  border:1px solid black;}

.tb1 {
  background-color:white;
  height:500px;
  float:left;
	margin-left:3%;
  border: 1px solid black;
  margin-bottom:3%; }

.td{
  border: 1px solid black;}

.rate {
    display: inline-block;
    border: 0;}
.rate > input {
    display: none;}
.rate > label {
    float: right;}
.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";}
.rate > label:last-child:before {
    content: "\f006 ";}
.rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;}

input:checked ~ label,
label:hover, label:hover ~ label { color: #73B100;}
input:checked + label:hover, input:checked ~ label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label { color: #A6E72D;}
