  #tab .btn{
    background-color:white;
    color:black;
    border-color:silver;
    width:140px;
  }

  #tab .btn.active{
    background-color: silver;
    color:white;
  }

  #theContainer{
    width:80%;
    text-align:center;
  }

  #idcard {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 70%;
      margin-bottom:40px;
      border-radius: 5px;
  }

  #idcard:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #idcard img {
      border-radius: 5px 5px 0 0;
  }

  #card-content {
      padding: 2px 16px;
  }

  #providers{
    margin-top:100px;
    margin-left:90px;
  }

  .checked {
    color: orange;
}