#defaultSelected {
	background-color:#19535f !important;}

.tbl {
  background-color:white;
	width:100%;
	margin-left:3%;
	border: 1px solid black;
	margin-bottom:3%}
.statusPending {
	background-color:#e03b24;
	color:white;
	padding: 3px 6px;}
.statusAccepted {
  background-color:#64a338;
  color:white;
  padding: 3px 6px;}
.statusCancelled {
  background-color:#777777;
  color:white;
  padding: 3px 6px;}
.statusCompleted {
  background-color:#3865a3;
  color:white;
  padding: 3px 6px;}

.bottom-info {
	padding-top:2px;
	margin-left:13px;
	margin-right:13px;}
	
.view-info{
	font-size:12px;
	float:right;
	text-decoration:underline;
	padding: 2px 10px;
	color:black}
	
 .modal-header, h4, .close {
    background-color: #0b7a75;
    color:white !important;
    text-align: center;
    font-size: 15px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  #edit {
  float:right;
  padding:1% 5%;
  color:black;
  text-decoration:underline;}
  .btn-xs{
  margin-top:1%;
  }
   #save {
  float:right;
  padding:1% 5%;
  color:black;
  text-decoration:underline;}
  
  tr:hover{
	background-color:#d7c9aa;
	border: 2px;
	text-decoration:none;}	
	


.form-group{
	text-align:center;}

.shadow {
	background-color:rgba(255,255,255,0.6);
	margin-top:2%;
	height:auto;
	}

.form-control {
	text-align:center;
}